---
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="Drop Taxi - Privacy">
  <div class="font-Rubik w-full flex flex-col justify-center items-center">
    <Header />
    <div class="p-2 w-full max-w-5xl h-full">
      <div>
        <h2 class="text-left text-4xl font-bold">About Green Drop Taxi</h2>
        <div class="text-left text-base">
          <p class="py-4">
            At Green Drop Taxi, we are committed to providing top-notch taxi
            services throughout Tamil Nadu. We understand the importance of
            reliable and safe transportation, and that's exactly what we offer
            to our valued customers.
          </p>
        </div>
      </div>
      <div>
        <h2 class="text-left text-4xl font-bold">Our Mission</h2>
        <div class="text-left text-base">
          <p class="py-4">
            Our mission is to redefine the taxi service industry by delivering
            convenient, efficient, and eco-friendly transportation solutions. We
            aim to create a seamless and enjoyable experience for both
            passengers and drivers.
          </p>
        </div>
      </div>
      <div>
        <h2 class="text-left text-4xl font-bold">Why Choose Us?</h2>
        <div class="text-left text-base">
          <p class="py-2">
            <span>1. Reliability:</span> We take pride in our punctuality and reliability.
            Count on us to get you to your destination on time, every time.
          </p>
          <p class="py-2">
            <span>2. Safety:</span> Your safety is our top priority. All our drivers
            undergo rigorous background checks, and our vehicles are regularly maintained
            to ensure a safe journey.
          </p>
          <p class="py-2">
            <span>3. Affordability:</span>
            We offer competitive pricing, making quality transportation accessible
            to everyone.
          </p>
          <p class="py-2">
            <span>4. Eco-Friendly:</span> We are committed to reducing our carbon
            footprint. Our fleet includes eco-friendly vehicles to promote sustainable
            travel.
          </p>
          <p class="py-2">
            <span>5. Exceptional Service:</span> Our customer-centric approach ensures
            that you receive the best service. We value your feedback and continuously
            strive to improve.
          </p>
        </div>
        <div>
          <h2 class="text-left text-4xl font-bold">Our Team</h2>
          <div class="text-left text-base">
            <p class="py-4">
              Behind Green Drop Taxi is a dedicated team of professionals who
              are passionate about transportation and customer satisfaction.
              From our experienced drivers to our customer support team,
              everyone plays a crucial role in ensuring a smooth and enjoyable
              ride for you.
            </p>
          </div>
        </div>
        <div>
          <h2 class="text-left text-4xl font-bold">Contact Us</h2>
          <div class="text-left text-base">
            <p class="py-4">
              Have questions or need assistance? Our friendly support team is
              available 24/7 to assist you. Feel free to reach out to us via
              email, phone, or through our website.
            </p>
          </div>
        </div>
        <div>
          <button
            class="bg-[#7634BF] text-base text-white w-[190.47px] rounded-3xl font-normal my-6 mx-auto md:mx-0 py-3"
          >
            <a href="/">Go back to home</a></button
          >
        </div>
        <br />
        <Footer />
      </div>
    </div>
  </div>
</Layout>
