---
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Book my plots - Privacy">
  <div class="font-Rubik w-full flex flex-col justify-center items-center">
    <div
      class="w-full bg-gradient-to-r from-[#000000] to-[#DF3585] justify-center items-center"
    >
      <div class="h-40"></div>
    </div>
    <div class="p-2 w-full max-w-5xl h-full">
      <div class="mb-4">
        <div class="text-[#000000] md:flex lg:flex text-6xl font-bold pr-2">
          <p>Privacy</p>
          <p class="pl-2 text-[#7634BF]">policy</p>
        </div>
      </div>
      <div>
        <div class="flex flex-col text-[#000000] text-base font-light">
          <p>
            Your privacy is important to us, so BookmyPlots.co, a service
            provider based in the India, has created the following Privacy
            Policy ("Policy") to let you know what information we collect when
            you visit our Site http://www.bookmyplots.co ("Site"), why we
            collect it and how we use it. The terms "You," "Your," "Yours" and
            "User" refer to the entity/person/organization using our Site. When
            this Policy mentions "We", "Us," and "Our" it refers to
            BookmyPlots.co and its subsidiaries and affiliates.
          </p>
          <p>This Privacy Policy is governed by our Terms of Services.</p>
          <p>
            For any questions regarding this Policy or any requests regarding
            the processing of personal data, please contact us at
            anithrasolutions@gmail.com.
          </p>

          <h4 class="mt-2">1. INFORMATION WE COLLECT FROM YOU</h4>
          <p>
            We collect the information You provide to us and this information is
            necessary for the adequate performance of the contractual
            arrangement which is in place between You and us and allow us to
            comply with our legal obligations.
          </p>
          <ul class="list-disc list-inside pl-3">
            <li>
              Account Signup Information. When You create the account, we ask
              You to provide the signup information, such as Name, Phone,
              Personal Number, Surname.
            </li>
            <li>
              Communications, Chats, Messaging. When you communicate with us
              through email or any other way, we collect information about your
              communication and any information You choose to provide or
              disclose. In order to answer your request, we may access
              information provided by email, chats, purchase history, etc.
            </li>
            <li>
              Payment Information. To order and use features of Site, we may
              require you to provide certain financial information in order to
              facilitate the processing of payments. We collect your Credit or
              debit card type, Credit or debit card expiration date, Name and
              surname, Credit or debit card number, Billing address.
            </li>
            <li>
              Login information. We collect Login information if You are logging
              to our account with Authentication Data.
            </li>
          </ul>
          <h4 class="mt-2">2. INFORMATION WE COLLECT AUTOMATICALLY</h4>
          <p>
            When you use our Site or contact us directly we may collect
            information, including your personal information, about the way you
            act in our Site, the services You use and how You use them. This
            information is necessary for the adequate performance of the
            contract between You and us, to enable us to comply with legal
            obligations and given our legitimate interest in being able to
            provide and improve the functionalities of the Site.
            <ul class="list-disc list-inside pl-3">
              <li>
                Log data and Device information. We automatically collect log
                data and device information when you access and use the Site,
                even if you have not created an Account or logged in. That
                information includes, among other things: Internet protocol (IP)
                addresses, Browser type, Internet service provider (ISP),
                Referring/exit pages, Operating system, Date/time stamp,
                Clickstream data.
              </li>
              <li>
                Tracking technologies and Cookies. We use Cookies, Beacons,
                Tags, CI codes (click tracking), ISC (source tracking), ITC
                (item tracking codes), Phone model, Device ID, Customer number.
                We also automatically collect information about device's
                operating system, .
              </li>
              <li>
                Geo-location data. We collect information about your approximate
                location as determined by data such as your IP address to offer
                you an improved user experience. Such data may be collected only
                when you access the Site using your device.
              </li>
              <li>
                Usage information. We use a tool called "Google Analytics" to
                collect information about your interactions with the Site (what
                pages you visit, such as the pages or content you view, your
                searches for Listings, bookings you have made, and other actions
                on the Site. In consequence, Google, Inc. plants a permanent
                cookie on your web browser to identify you as a unique user the
                next time you visit this Site). For more information please
                visit Google. Publicly available personal Information.
              </li>
            </ul>
          </p>

          <h4 class="mt-2">3. THE WAY WE USE YOUR INFORMATION</h4>
          <p>
            We process your information adhering to the general data processing
            principles.
          </p>
          <p>
            We may use the information we collect through our Site for a number
            of reasons, including to:
            <ul class="list-disc list-inside pl-3">
              <li>to identify user</li>
              <li>to create account</li>
              <li>to create trusted environment</li>
              <li>to create statistics and analyze market</li>
              <li>to stay connected</li>
              <li>to customize marketing</li>
              <li>to send billing information</li>
              <li>to manage user orders</li>
              <li>to contact user</li>
              <li>to improve services</li>
              <li>to ensure data security and prevent fraud</li>
              <li>to comply with applicable laws</li>
              <li>to request feedback</li>
              <li>to post testimonials</li>
              <li>to provide support</li>
            </ul>
          </p>
          <p>
            We will normally collect personal information from you only where we
            have your consent to do so, where we need the personal information
            to perform a contract with you, or where the processing is in our
            legitimate business interests.
          </p>
          <h4 class="mt-2">4. COOKIES</h4>
          <p>
            Cookies are small text files stored by your browser on your computer
            when you visit our Site. We use cookies to improve our Site and make
            it easier to use. Cookies permit us to recognize users and avoid
            repetitive requests for the same information.
          </p>
          <p>
            Cookies from our Site cannot be read by other Sites. Most browsers
            will accept cookies unless you change your browser settings to
            refuse them.
          </p>
          <p>Cookies we use on our Site:</p>
          <ul class="list-disc list-inside pl-3">
            <li>
              Strictly necessary cookies - These cookies are required for the
              operation of our Site. They help us to show you the right
              information, customize your experience, and allow us to implement
              and maintain security features as well as to help us detect
              malicious activities. Without these cookies operation of the
              Website would be impossible or its functioning may be severely
              affected.
            </li>
          </ul>
          <p>
            You may find more information about how to delete cookies, as well
            as the other useful information related to the use of the cookies,
            on the website http://www.allaboutcookies.org/.
          </p>
          <h4 class="mt-2">5. INFORMATION FROM MINORS</h4>
          <p>
            This site and our Services are not intended for or directed to
            persons under the age of 18. We do not knowingly collect or ask for
            information from minors. We do not knowingly allow minors to use our
            Site or Services.
          </p>
          <p>
            We will delete any information we discover is collected from a
            minor. Please contact us using the contact details below if you
            believe we might have information about a minor.
          </p>
          <h4 class="mt-2">6. SENSITIVE INFORMATION</h4>
          <p>
            We do not collect sensitive information such as political opinions,
            religious or philosophical beliefs, racial or ethnic origin, genetic
            data, biometric data, health data or data related a sexual
            orientation.
          </p>
          <p>
            Please do not send, upload, or provide us any sensitive data and
            contact us using the contact details below if you believe that we
            might have such information. We have a right to delete any
            information we believe it might contain sensitive data.
          </p>
          <h4 class="mt-2">7. PAYMENT INFORMATION</h4>
          <p>
            To order and use our services we may require you to provide certain
            financial information to facilitate the processing of payments. We
            will not store or collect your payment card details. That
            information is provided directly to our third-party payment
            processors whose use of your Personal information is governed by
            their Privacy Policy. All payment data is stored by . You may find
            their privacy policy link(s) here: .
          </p>
          <h4 class="mt-2">8. RETENTION</h4>
          <p>
            We retain your personal information to provide services to you and
            as otherwise necessary to comply with our legal obligation, resolve
            disputes, and enforce our agreements.
          </p>
          <p>
            We will retain your personal information as long as we need it to
            provide services to you, unless we are otherwise required by law or
            regulations to retain your personal information longer.
          </p>
          <h4 class="mt-2">9. YOUR RIGHTS</h4>
          <p>
            You are entitled to a range of rights regarding the protection of
            your personal information. Those rights are:
            <ul class="list-disc list-inside pl-3">
              <li>
                The right to access the information we have about you. If you
                wish to access your personal information that we collect, you
                can do so at any time by contacting us using the contact details
                provided below.
              </li>
              <li>
                The right to rectify inaccurate information about you. You can
                correct, update or request deletion of your personal information
                by contacting us using the contact details provided below.
              </li>
              <li>
                The right to object the processing. When we rely on your consent
                to process your personal information, you may withdraw consent
                at any time by contacting us using the contact details provided
                below. This will not affect the lawfulness of processing prior
                to the withdrawal of your consent.
              </li>
              <li>
                The right to lodge a complaint. You can raise questions or
                complaints to the national Data Protection Agency in your
                country of residence in the event where your rights may have
                been infringed. However, we recommend attempting to reach a
                peaceful resolution of the possible dispute by contacting us
                first.
              </li>
              <li>
                The right to erase any data concerning you. You may demand
                erasure of data without undue delay for legitimate reasons, e.g.
                where data is no longer necessary for the purposes it was
                collected, or where the data has been unlawfully processed.
              </li>
            </ul>
          </p>
          <h4 class="mt-2">10. APPLICATION OF POLICY</h4>
          <p>
            This Policy was created with the help of the Privacy Policy
            Generator from TermsHub and applies only to the services offered by
            our Company. Our Policy does not apply to services offered by other
            companies or individuals, including products or sites that may be
            displayed to you in search results, sites that may include our
            services or other sites linked from our Site or Services.
          </p>
          <h4 class="mt-2">11. AMENDMENTS</h4>
          <p>
            Our Policy may change from time to time. We will post any Policy
            changes on our Site and, if the changes are significant, we may
            consider providing a more explicit notice (including, for certain
            services, email notification of Policy changes).
          </p>
          <h4 class="mt-2">12. ACCEPTANCE OF THIS POLICY</h4>
          <p>
            We assume that all Users of this Site have carefully read this
            document and agree to its contents. If someone does not agree with
            this Policy, they should refrain from using our Site. We reserve the
            right to change our Policy at any time and inform by using the way
            as indicated in Section 11. Continued use of this Site implies
            acceptance of the revised Policy.
          </p>
          <h4 class="mt-2">13. FURTHER INFORMATION</h4>
          <p>
            If you have any further questions regarding the data we collect, or
            how we use it, then please feel free to contact us at the details as
            indicated above.
          </p>
        </div>
        <div>
          <button
            class="bg-[#7634BF] text-base text-white w-[190.47px] rounded-3xl font-normal my-6 mx-auto md:mx-0 py-3"
          >
            <a href="/">Go back to home</a></button
          >
        </div>
        <br />
        <Footer />
      </div>
    </div>
  </div>
</Layout>
