---
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="Drop Taxi - Terms and Conditions">
    <div class="font-Rubik flex flex-col w-full justify-center items-center">
        <Header />
        <div class="p-2 max-w-5xl w-full">
            <div>
                <h2 class="text-left text-4xl font-bold">
                    Terms and Conditions for Green Drop Taxi
                </h2>
                <div class="text-left text-base">
                    <p class="py-2">
                        1. By using Green Drop Taxi services in Tamil Nadu, you
                        agree to comply with the following terms and conditions
                    </p>
                    <p class="py-2">
                        <span>2. Booking:</span> All bookings are subject to availability,
                        and you must provide accurate information.
                    </p>
                    <p  class="py-2">
                        <span> 3. Fare and Payment:</span>
                        Fare charges, payment methods, and cancellation policies
                        are available on our website.
                    </p>
                    <p class="py-2">
                        <span>4. Conduct:</span> Respectful and responsible behavior
                        is expected from passengers and drivers.
                    </p>
                    <p class="py-2">
                        <span>5. Liability:</span> Green Drop Taxi is not responsible
                        for lost items or damages during the trip.
                    </p>
                    <p class="py-2">
                        <span>6. Termination:</span> We reserve the right to terminate
                        services due to violations of our policies.
                    </p>
                </div>
            </div>
            <div>
                <h2 class="text-left text-4xl font-bold">
                    Privacy Policy for Green Drop Taxi
                </h2>
                <div class="text-left text-base">
                    <p class="py-2">
                        <span>1. Data Collection:</span> We collect user information
                        for booking and payment purposes, ensuring data security.
                    </p>
                    <p  class="py-2">
                        <span>2. Information Use:</span>Data is used solely for
                        service provision, and we do not sell or share it with
                        third parties.
                    </p>
                    <p  class="py-2">
                        <span> 3. Cookies:</span>
                        We may use cookies for website optimization and user experience
                        improvement.
                    </p>
                    <p  class="py-2">
                        <span>4. Data Security:</span>We employ measures to
                        protect your personal information.
                    </p>
                    <p  class="py-2">
                        <span> 5. Updates:</span> We may update our privacy policy,
                        and you'll be informed of any changes.
                    </p>
                    <p  class="py-2">
                        <span> 6. Contact:</span> Reach out to us for any privacy-related
                        concerns or queries.
                    </p>
                </div>
            </div>
            <br />
            <Footer />
        </div>
    </div>
</Layout>
