---
import { Image } from "astro:assets";
import Lastlogo from "../assets/Lastlogo.png";
---

<div class="p-2 w-full max-w-5xl">
	<div class="lg:flex justify-between mt-4 p-2 gap-x-24">
		<div class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
			<div
				class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
			>
				<span
					class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>© 2023 <a
						href="https://flowbite.com/"
						class="hover:underline">Flowbite™</a
					>. All Rights Reserved.
				</span>
			</div>
		</div>
		<div>
			DOOR NO. 2 SHOP NO. R2, AMMAPETTAI MAIN ROAD, KADAVACHERRY,
			Chidambaram, Cuddalore, Tamil Nadu, 608001
		</div>
	</div>
</div>
